{% extends "common.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>FullName</th>
              <th>Email</th>
              <th>Ward No</th>
              <th>Certificates</th>
              <th>Request Type</th>
              <th colspan="2" style="text-align: center;">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr>
              <th scope="row">{{ i.id }}</th>

              <td>{{i.fullname }}</td>
              <td>{{ i.email }}</td>
              <td>{{ i.ward }}</td>
              <td class="certificate-tags">
                {% for cert in i.certificates %}
                  <span>{{ cert|title }}</span>
                {% endfor %}
              </td>
              <td>{% if i.request_type %}
                <span style="color: red; font-weight: bold;">Emergency</span>
                {% else %}
                <span style="color: green;">Normal</span>
              {% endif %}</td>

              <td><a href="{% url 'complete' i.id %}"><button>Complete</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}