{% extends "common.html" %}

{% block content %}
{% load static %}
<!-- Login Section -->
<section class="reg d-flex align-items-center justify-content-center min-vh-100 py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="col-5 mt-5 pt-5">
          <img src="{% static 'images/nepal.png' %}" alt="" height="300px" width="300px">
        </div>
      </div>
      <div class="col-7 col-md-5 col-lg-4 sh">
        <div class="card ">
          <h2 class="text-center mb-4 fw-bold">Register</h2>
          <form action="{% url 'register' %}" method="POST" class="login-form">
            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" id="firstname" name="firstname" class="form-control rounded-3" placeholder="John" required />
            </div>
            <div class="mb-3">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" id="lastname" name="lastname" class="form-control rounded-3" placeholder="Doe" required />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" id="username" name="username" class="form-control rounded-3" placeholder="john_doe" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control rounded-3" placeholder="example@mail.com" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" name="password" class="form-control rounded-3" placeholder="********" required />
            </div>
            <button type="submit" class="btn btn-primary w-100 rounded-3">Register</button>
          </form>
          <div class="text-center mt-3">
            <p>Already Have an account? <a href="{% url 'log_in' %}" class="text-decoration-none">Login</a></p>
            <p><a href="#" class="text-decoration-none">Forgot Password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
